{% extends "base.html" %}

{%block content%}

<header class="masthead">
  <div class="container">
    <h1>{{Individual}}</h1>
    <br>
    <div class="row">

      <div class="col col-sm-9">
      <div class="row">
      <div class="col-md-4">
        <br>
        <img class="img-responsive" src="/static/img/{{book.subject}}.jpg" alt="">
      </div>
      <div class="col-md-8">
      <div class="row">
      <h1>Title: {{book.title}}</h1>
      <h4>Author: {{book.authors}}</h4>
      <h4>Publisher: {{book.publisher}}</h4>
      <h4>Year of publication: {{book.year_of_publication}}</h4>
          <h4>Quantity: {{book.quantity_left}}</h4>
          <h4>Price: {{book.price}}</h4>
          <h4>Format: {{book.format|capitalize}}</h4>
          <h4>Subject: {{book.subject|capitalize}}</h4>
      </div>
      {% if opinions %}
      <div class="row">
        <h2>User Reviews</h2>
        {% for opinion in opinions %}
        <div class="row">
        <div class="col-md-3">


        <h1><span class="glyphicon glyphicon-user"></span></h1>
        <p>{{opinion.login_name}}</p>
          
          
        </div>
        <div class="col-md-9">
          <h2>Rating: {{opinion.score}}</h2>
          <p>{{opinion.comment}}</p>
          <h4>Usefulness: {{opinion.avg_rating}}</h4>
          {% if opinion.login_name!=session.user.login_name%}
          <form method="post">
          <button class="btn btn-default" name="rating" value="0">Useless</button>
          <button class="btn btn-default" name="rating" value="1">UseFul</button>
          <button class="btn btn-default" name="rating" value="2">Very useful</button>
          </form>
          {% endif %}

        </div>
        </div>
        <br></br>
        {% endfor %}

      </div>
      {% endif %}
      {% if exist_comment %}
      <div class="row">
        <h1>Rate this book!</h1>

        <label for="score" style="color:black">Score </label>
        <select class="form-control" style="width:50%">
          <option name="score" value="0">0</option>
          <option name="score" value="1">1</option>
          <option name="score" value="2">2</option>
          <option name="score" value="0">3</option>
          <option name="score" value="1">4</option>
          <option name="score" value="2">5</option>
          <option name="score" value="0">6</option>
          <option name="score" value="1">7</option>
          <option name="score" value="2">8</option>
          <option name="score" value="0">9</option>
          <option name="score" value="1">10</option>
        </select>
        <hr>
        <textarea style="width:100%;height:100px"></textarea>
        <hr>
        <button class="btn btn-default">Submit Rating!</button>
        <br><br>
      </div>
      {% endif %}
      </div>
      </div>

      </div>
      <div class="col col-sm-3">
          <div id="sidebar" class="affix-top">
            <ul class="nav nav-stacked">

<!--             <li><h3 class="highlight">Order Now!<i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
            <form method="post">
            <li><button class="btn btn-primary">Place Order</button></li>
            <input class="hidden" name="isbn" value="{{book.isbn}}">
            </form> -->
                    <li><h3 class="highlight">Order Now!<i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
                    <!-- <form method="post" action="/order">
                      <input type="text" name="quantity" id="quantity" value="default" readonly = "True">
                      <input type="range" name="quantity" id="quantity">
                      <li><div class="btn btn-primary">Place Order</div></li>
                    </form> -->
                    <button class="btn btn-primary" id="order_button" name="order_button">Place Order</button>
        </ul>

               </div>
          </div>
    </div>
  </div>

  <div class="container">

  </div>


</header>


    </div>
    <script type="text/javascript">
    $('#advance_search').click(function(){
      $('#advance_search_box').toggle("slow")
    });

    // this is the id of the form
    $("#order_button").click(function(e) {
        var url = "/order"; // the script where you handle the form input.
        var data = {"isbn":"{{book.isbn}}"}

        $.ajax({
               type: "POST",
               url: url,
               data: data,
               success: function(data)
               {
                 document.write(data);
                 document.close();
               },
               error: function(data)
               {
                 alert(data)
               },
             });
        // e.preventDefault(); // avoid to execute the actual submit of the form.
    });


    </script>


{%endblock%}
