{% extends "base.html" %}

{%block content%}

<header class="masthead">
  <div class="container">
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <h1>{{Individual}}</h1>
    <br>
    <div class="row">

      <div class="col col-sm-9">
      <div class="row">
      <div class="col-md-4">
        <br>
        <img class="img-responsive" src="/static/img/{{book.subject|lower()}}.jpg" alt="">
      </div>
      <div class="col-md-8">
      <div class="row">
      <h1>Title: {{book.title}}</h1>
      <h4>Authors: {{book.authors}}</h4>
      <h4>Publisher: {{book.publisher}}</h4>
      <h4>Year of publication: {{book.year_of_publication}}</h4>
          <h4>Quantity: {{book.quantity_left}}</h4>
          <h4>Price: {{book.price}}</h4>
          <h4>Format: {{book.format|capitalize}}</h4>
          <h4>Subject: {{book.subject|capitalize}}</h4>
      </div>
      {% if opinions %}

      <div class="row">
        <h2 style="color:#FF3333">User Reviews ({{total_opinion_count}})</h2>
        <form method="post">
        <input type="integer" placeholder="Enter a number" name="n">
        <button class="btn btn-default" id="most_useful">most useful review</button>
        <input class="hidden" name='action' value="find_reviews">
        </form>
        <h3>Average Rating: {{avg_score}}</h3>
        {% for opinion in opinions %}
        <div class="row">
        <div class="col-md-3">

      
        <h1><span class="glyphicon glyphicon-user" style="color:#FF3333"></span></h1>
        <p>{{opinion['RB.login_name']}}</p>


        </div>
        <div class="col-md-9">
          <h3>Rating: {{opinion['RB.score']}}</h3>
          <p>{{opinion['RB.comment']}}</p>
          <h4>Usefulness: 
            {% if opinion['A.usefulness_score'] %}
            {% if 1<=opinion['A.usefulness_score']<=1.8 %}Useful 
            {% elif opinion['A.usefulness_score']>1.8 %}Very Useful
            {% elif opinion['A.usefulness_score']<1 %}Useless
            {% endif %}({{opinion['A.usefulness_score']}})
            {% else %}
            Nobody has rated is opinion
            {% endif %}</h4>

          <form method="post">
          <button class="btn btn-default" name="rating" value="0">Useless</button>
          <button class="btn btn-default" name="rating" value="1">UseFul</button>
          <button class="btn btn-default" name="rating" value="2">Very useful</button>
          <input class="hidden" name='opinion_id' value="{{opinion['RB.login_name']}}">
          <input class="hidden" name='action' value="rate_review">
          </form>

        </div>
        </div>
        <br></br>
        {% endfor %}

      </div>
      {% endif %}
      {% if not exist_comment %}
      <div class="row">
        <h1>Rate this book!</h1>
        <form method="post">
        <label for="score" style="color:black">Score </label>
        <input type='range' id="score" name='score' max='10' min='0' value='0' oninput=changeinput()>
        <output name='score_out' id='score_out'>0</output>
        <hr>
        <textarea style="width:100%;height:100px" maxlength="100" name="comment"></textarea>
        <hr>
        <input class="hidden" name='action' value="rate_book">
        <button class="btn btn-default">Submit Rating!</button>
        </form>
        <br><br>
      </div>
      {% endif %}
      </div>
      </div>

      </div>
      <div class="col col-sm-3">
          <div id="sidebar" class="affix-top">
            <ul class="nav nav-stacked">

                    <form method="POST" action="/order">
                    <li><h3 class="highlight">Order Now!<i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
                    <input type='range' class='book' name='quantity_in' id='quantity_in' max='{{book.quantity_left}}' min='0' value='0' oninput=changequantity('{{book.isbn}}')>
                    <label for="quantity_out" style="color:black">Quantity: <span id="qout">0</span> </label>
                    <output class="hidden"name='quantity_out' id='quantity_out' style="text-align:center">0</output>
                    <button class="btn btn-primary" id="order_button" name="order_button">Place Order</button>
                    <input class="hidden" name="isbn_{{book.isbn}}_in" value="1">
                    </form>
        </ul>

               </div>
          </div>
    </div>
  </div>

  <div class="container">

  </div>


</header>


    </div>
    <script type="text/javascript">
    $('#advance_search').click(function(){
      $('#advance_search_box').toggle("slow")
    });

    var changeinput = function(){

    $('#score_out')['0'].value = $('#score')['0'].value;
};
var changequantity = function(isbn){
    $('#quantity_out')['0'].value = $('#quantity_in')['0'].value;
    $('#qout')[0].innerHTML = $('#quantity_in')['0'].value;
};


    </script>


{%endblock%}
