{% extends "base.html" %}

{%block content%}

<header class="masthead">
  <div class="container">
    {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <h1>{{Individual}}</h1>
    <br>
    <div class="row">

      <div class="col col-sm-9">
      <div class="row">
      <div class="col-md-4">
        <br>
        <img class="img-responsive" src="/static/img/{{book.subject}}.jpg" alt="">
      </div>
      <div class="col-md-8">
      <div class="row">
      <h1>Title: {{book.title}}</h1>
      <h4>Authors: {{book.authors}}</h4>
      <h4>Publisher: {{book.publisher}}</h4>
      <h4>Year of publication: {{book.year_of_publication}}</h4>
          <h4>Quantity: {{book.quantity_left}}</h4>
          <h4>Price: {{book.price}}</h4>
          <h4>Format: {{book.format|capitalize}}</h4>
          <h4>Subject: {{book.subject|capitalize}}</h4>
      </div>
      {% if opinions %}
      <div class="row">
        <h2 style="color:#FF3333">User Reviews</h2>
        <form method="post">
        <input type="integer" placeholder="1-{{opinions|count}}" name="n">
        <button class="btn btn-default" id="most_useful">most useful review</button>
        <input class="hidden" name='action' value="find_reviews">
        </form>
        <h3>Average Rating: {{avg_score}}</h3>
        {% for opinion in opinions %}
        <div class="row">
        <div class="col-md-3">


        <h1><span class="glyphicon glyphicon-user" style="color:#FF3333"></span></h1>
        <p>{{opinion.login_name}}</p>


        </div>
        <div class="col-md-9">
          <h3>Rating: {{opinion.score}}</h3>
          <p>{{opinion.comment}}</p>
          <h4>Usefulness: 
            {% if 1<=opinion.usefulness_score<=1.8 %}Useful 
            {% elif opinion.usefulness_score>1.8 %}Very Useful
            {% elif opinion.usefulness_score<1 %}Useless
            {% endif %}({{opinion.usefulness_score}})</h4>

          <form method="post">
          <button class="btn btn-default" name="rating" value="0">Useless</button>
          <button class="btn btn-default" name="rating" value="1">UseFul</button>
          <button class="btn btn-default" name="rating" value="2">Very useful</button>
          <input class="hidden" name='opinion_id' value="{{opinion.login_name}}">
          <input class="hidden" name='action' value="rate_review">
          </form>

        </div>
        </div>
        <br></br>
        {% endfor %}

      </div>
      {% endif %}
      {% if not exist_comment %}
      <div class="row">
        <h1>Rate this book!</h1>
        <form method="post">
        <label for="score" style="color:black">Score </label>
        <input type='range' id="score" name='score' max='10' min='0' value='0' oninput=changeinput()>
        <output name='score_out' id='score_out'>0</output>
        <hr>
        <textarea style="width:100%;height:100px" maxlength="100" name="comment"></textarea>
        <hr>
        <input class="hidden" name='action' value="rate_book">
        <button class="btn btn-default">Submit Rating!</button>
        </form>
        <br><br>
      </div>
      {% endif %}
      </div>
      </div>

      </div>
      <div class="col col-sm-3">
          <div id="sidebar" class="affix-top">
            <ul class="nav nav-stacked">

                    <form method="POST" action="/order">
                    <li><h3 class="highlight">Order Now!<i class="glyphicon glyphicon-dashboard pull-right"></i></h3></li>
                    <button class="btn btn-primary" id="order_button" name="order_button">Place Order</button>
                    <input class="hidden" name="isbn_{{book.isbn}}_in" value="1">
                    </form>
        </ul>

               </div>
          </div>
    </div>
  </div>

  <div class="container">

  </div>


</header>


    </div>
    <script type="text/javascript">
    $('#advance_search').click(function(){
      $('#advance_search_box').toggle("slow")
    });

    var changeinput = function(){
    
    $('#score_out')['0'].value = $('#score')['0'].value;
};

    // this is the id of the form
    // $("#order_button").click(function(e) {
    //     var url = "/order"; // the script where you handle the form input.
    //     var data = {"isbn_{{book.isbn}}":"1"}

    //     $.ajax({
    //            type: "POST",
    //            url: url,
    //            data: data,
    //            success: function(data)
    //            {
    //              document.write(data);
    //              document.close();
    //            },
    //            error: function(data)
    //            {
    //              alert(data)
    //            },
    //          });
    //     // e.preventDefault(); // avoid to execute the actual submit of the form.
    // });


    </script>


{%endblock%}
