
{% extends "base.html" %}

{%block content%}

<header class="masthead">
  <div class="container">
    <h1>We have received your order!</h1>
    <h1>Book order details</h1>
    <h4>Order made by : {{session.user.full_name}}</h4>
    <h4>Credit card number : {{session.user.credit_card_no}}</h4>
    <h4>Date : {{date}}</h4>
    <h4>Total quantity : {{total_quantity}}</h4>
    <h4>Total price : ${{total_price}}</h4>
    <hr>
    {% for order in orders%}
    <div class="row">

      <div class="row">
      <div class="col-md-4">
        <br>
        <img class="img-responsive" src="/static/img/{{order.subject}}.jpg" alt="">
      </div>
      <div class="col-md-8">
      <div class="row">
      <h1>Title: {{order.title}}</h1>
      <h4>Author: {{order.authors}}</h4>
      <h4>Publisher: {{order.publisher}}</h4>
      <h4>Year of publication: {{order.year_of_publication}}</h4>
      <h4>Quantity: {{order.quantity}}</h4>
      <h4>Price: {{order.price}}</h4>
      <h4>Format: {{order.format|capitalize}}</h4>
      <h4>Subject: {{order.subject|capitalize}}</h4>
      <h4>Order id: {{order.order_id}}</h4>

      </div>

      </div>
      </div>


    </div>
    {% endfor %}

  </div>

    <div class="container">
  <div class="row">
      <div class="col col-sm-12">
        <h1 class="page-header">Others also buy</h1>
        <div class="panel">
        <div class="panel-body">

          <div class="row">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                </a>
            </div>
        </div>
        </div>
        </div>

      </div>
    </div>
  </div>


</header>


    </div>
    <script type="text/javascript">
    $('#advance_search').click(function(){
      $('#advance_search_box').toggle("slow")
    });

    </script>

{%endblock%}
